 <div class="whiteBorder">
            <div class="inlineBorder">

            <div class="edit_field">

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto laborum tempore fugiat eaque harum, consequuntur nobis, reprehenderit accusamus libero iure nihil odit repellat omnis aspernatur quidem quam ullam, esse qui. <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid tempora voluptas nobis dolorem harum vero velit? Numquam autem ullam blanditiis dignissimos et recusandae aliquam, fugit earum incidunt dolorum quaerat ex.</div>
            <div>Esse, alias. Labore dicta provident libero nobis vitae doloribus, fugit illo perspiciatis assumenda, distinctio magni. Vitae quam qui aperiam magnam ipsam tempore dolorum illo, odio provident saepe, modi cupiditate illum.</div>
            <div>Porro asperiores aperiam ipsa architecto, laborum, est! Sit ut, a? Aliquam recusandae eveniet hic sit vitae commodi consequuntur laboriosam laudantium sequi atque fugit repellendus nostrum, necessitatibus nobis, dolorum quaerat aperiam!</div></div>

            </div>
            </div>